<% stylesheets 'events-listing' %>
<% # javascripts 'prototype', 'effects', 'dragdrop', 'assets' %>

<h1><%=h @page_object.header %></h1>

<%= render :partial => 'lists' %>

<% if @page_object.total_page_count.to_i > 1 %>
  <div class="pagination">
    <% if @page_object.page.to_i > 1  %>
    <a href="<%= parent_url(:page => (@page_object.page.to_i - 1)) %>" class="next">&laquo; Previous</a>
    <% end %>
    <% if @page_object.page.to_i < @page_object.total_page_count.to_i %>
    <a href="<%= parent_url(:page => (@page_object.page.to_i + 1)) %>" class="next">Next &raquo;</a>
    <% end %>
  </div>
<% end %>